{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Dzień dobry!</h1>
    {% if app.user %}
        <ul>
            <li><a href="cpu">Manage CPUs</a> </li>
            <li><a href="gpu">Manage GPUs</a> </li>
            <li><a href="pc">Manage PCs</a> </li>
            <li><a href="game">Manage Games</a> </li>
        </ul>
    {% endif %}
{% endblock %}    
    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
