{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Dzień dobry!</h1>
    {% if app.user %}
        <ul>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="cpu">Manage CPUs</a> </li>
                <li><a href="gpu">Manage GPUs</a> </li>
                <li><a href="pc">Manage PCs</a> </li>
            {% endif %}
            <li><a href="game">Games</a></li>
            <li><a href="test">Tests</a></li>
            <li><a href="{{ path("pc_my") }}">My PC</a></li>
        </ul>
    {% endif %}
{% endblock %}    
    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
