{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Dzień dobry!</h1>
{% endblock %}    
    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
